.docker/*
.dockerignore
.editorconfig
.git
.gitignore
.gitattrbutes
.idea
.sass-cache
.vscode
*.env*
*.config.js
!.docker/supervisor*
!.docker/php
!.docker/docker-entrypoint.sh
./supervisord*
horizon.log
bootstrap/cache/*
Dockerfile
storage/app/*
storage/framework/cache/*
storage/framework/session/*
storage/framework/views/*
storage/logs/*
README.md
vendor
docker-xdebug.ini
